<launch>

    <!-- Launch posenet with all params -->
    <node pkg="ros_posenet" type="posenet.js" name="posenet" output="screen">
        <!-- General configuration -->

        <!-- Name of the input topic with the color images. -->
        <param name="image_topic" value="/camera" />

        <!-- Name of the output topic for the detected poses. -->
        <param name="poses_topic" value="/poses" />

        <!-- The maximum time difference in seconds between a new message
             and the current time. Messages older than max_msg_time_diff 
             are discarded. -->
        <param name="max_msg_time_diff" value="0.03" />

        <!-- Whether PoseNet should run over the GPU (true) or CPU (false). -->
        <param name="gpu" value="false" />
        
        <!-- PoseNet configuration. Please, refer to the original repository for
             detailed information on the parameters:
             https://github.com/tensorflow/tfjs-models/tree/master/posenet -->

        <!-- Can be either "MobileNetV1" or "ResNet50". -->
        <param name="architecture" value="MobileNetV1" />

        <!-- Output stride of the model. Can be one of 8, 16, 32. -->
        <param name="output_stride" value="16" />

        <!-- The size the image is resized to before it is fed into the PoseNet.
             Can be one of 161, 193, 257, 289, 321, 353, 385, 417, 449, 481,
             513, and 801. Defaults to 257. -->
        <param name="input_resolution" value="257" />

        <!-- MobileNetV1 only. Multiplier for the depth for all convolution ops.
             Can be one of 1.01, 1.0, 0.75, or 0.50. -->
        <param name="multiplier" value="0.75" />

        <!-- Scale factor for the input images -->
        <param name="quant_bytes" value="2" />

        <!-- Whether the input image should be flipped or not. -->
        <param name="flip_horizontal" value="false" />

        <!-- Whether PoseNet should look for multiple poses or not. -->
        <param name="multi_pose" value="true" />

        <!-- Maximum number of poses being detected by the multi-person 
             algorithm. -->
        <param name="max_detection" value="5" />
        
        <!-- Minimum confidence to consider a pose valid. -->
        <param name="min_pose_confidence" value="0.1" />

        <!-- Multi-pose only: minimum confidence for the body parts.  -->
        <param name="min_part_confidence" value="0.5" />

        <!-- Radius of the Non-Maximum Suppression. -->
        <param name="nms_radius" value="30" />
    </node>
</launch>
